<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title>你筹啥-优质众筹平台</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="shortcut icon" href="/static/title.jpg" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="http://resjrprd.suning.com/finance/public/v1/style/css/fin_common.css?v=20161001"/>
    <link rel="stylesheet" type="text/css" href="http://zc.suning.com/webstatic/style/css/common.css?v=1545310876603"/>
    <script>
        var ctx = '//zc.suning.com/webstatic/';
        var context = '';
        var staticVersion = 'v=1545310876603';
        var imgUrl = '//image.suning.cn/'
        var finConfig = {
            focusIndex: 'zhch'
        };
    </script>
    <script type="text/javascript" src="https://res.suning.cn/project/passport/js/passport.min.js?v=1545310876603"></script>
    <script>
        var passport_config = {
            base: "/",
            loginTheme: "b2c_pop"
        };
    </script>
    <!-- 自定义宏，公共组件-->

    <!--变换字符串，超长省略号-->

    <!--分转元-->
    <link href="http://sale.suning.com/images/advertise/hg/20111027snhear/css.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/static/title.jpg" type="image/x-icon">
    <script src="//res.suning.cn/public/v3/js/jquery.js?201500730"></script>
    <script type="text/javascript">var sn = sn || {
        "context": "/emall",
        "domain": "www.suning.com",
        "storeId": "10052",
        "catalogId": "10051",
        "memberDomain": "member.suning.com",
        "online": "online.suning.com",
        "cookieDomain": ".suning.com",
        "categoryId": "10051",
        "searchDomain": 'http://search.cnsuning.com/emall/',
        "hasSidebar": false
    };</script>
    <!-- PRFLS RESOURCES -->
    <link rel="shortcut icon" href="/static/title.jpg" type="image/x-icon"/>
    <link rel="stylesheet" href="http://res.suning.cn/public/v3/css/??v3common.min.css,search.min.css,sn-sidebar.min.css?v=2017103101"/>
    <script type="text/javascript"
            src="//res.suning.cn??/public/v3/js/jquery.js,/public/v3/js/sn_lazyload.js,/public/v3/js/lazyelem.min.js,/public/v3/js/SFE.base.min.js,/public/v3/js/search.min.js,/public/sidebar/build/js/sn-sidebar.min.js,/project/yunxin/js/chatCompat_mini.js?v=2017103101"></script>
    <script>
        var sa;
        if (!sa) {
            sa = {}
        }
        if (!sa.click) {
            sa.click = {}
        }
        (function () {
            var u = /^\w*?.suning.com$/, t = document.location.hostname, h = (("https:" == document.location.protocol) ? "https://" : "http://"), p = i(), b = "|", c = location.href, n = m(q(c));

            function r(aa, N) {
                try {
                    var Z = aa.name ? m(aa.name) : "name undefined";
                    if (Z == "name undefined") {
                        var ab = aa.attributes.name;
                        if (ab != undefined && ab != null) {
                            Z = ab.value ? m(ab.value) : "name undefined"
                        }
                    }
                    if (N != undefined && N != null && N != "") {
                        var K = aa.attributes[N];
                        if (K != undefined && K != null) {
                            Z = K.value ? m(K.value) : N + " undefined"
                        }
                    }
                    var O = aa.id ? m(aa.id) : "id undefined", R = new Array(), A = (f(aa, R), R) ? m(R.join("").replace(/\s|\|/ig, "")) : "text undefined",
                        U = (U = document.getElementById("resourceType")) ? U.value : "", B = O + b + Z + b + A, S = (S = document.getElementById("errorCode")) ? S.value : "",
                        X = h + p + "/ajaxClick.gif", z = v(), k = "_snck";
                    l(k, z, "/", "", "");
                    var Y = d();
                    var E = typeof sn == "object" ? sn.cityId : "can not get cityId", J = z + b + Y + b + B + b + n, W = aa.href ? aa.href : "", I = (W ? x(W) : "-"),
                        L = document.getElementById("URLPattern"), Q = (L ? L.value : "");
                    var D = "";
                    var G = o("logonStatus");
                    if (G != undefined && G != null) {
                        D = G
                    }
                    var F = "";
                    var j = o("_snma");
                    if (j != undefined && j != null && j.indexOf("|") >= 0) {
                        try {
                            F = j.split("|")[1]
                        } catch (V) {
                        }
                    }
                    var C = "";
                    var y = o("idsLoginUserIdLastTime");
                    if (y != undefined && y != null) {
                        C = y
                    }
                    var T = "";
                    var P = o("custno");
                    if (P != undefined && P != null) {
                        T = P
                    }
                    var M = "";
                    var ac = o("_snmb");
                    if (ac != undefined && ac != null && ac.indexOf("|") >= 0) {
                        try {
                            M = ac.split("|")[0]
                        } catch (V) {
                        }
                    }
                    var H = X + "?_snmk=" + J + "&_snme=" + S + "&_type=" + U + "&_cId=" + E + "&_sid=" + I + "&urlPattern=" + Q + "&vid=" + F + "&lu=" + C + "&sid=" + M + "&mid=" + T + "&ls=" + D;
                    w(H)
                } catch (V) {
                }
            }

            function d() {
                if (!sa.pvId) {
                    sa.pvId = v()
                }
                return sa.pvId
            }

            function v() {
                try {
                    var k = new Date(), j = Math.round(100000 * Math.random()), z = k.getTime().toString().concat(j);
                    return z
                } catch (y) {
                }
            }

            function o(k) {
                var j = document.cookie.split("; ");
                for (var y = 0; y < j.length; y++) {
                    var z = j[y].split("=");
                    if (z[0] == k) {
                        return unescape(z[1])
                    }
                }
            }

            function w(j) {
                var y = "log_" + (new Date()).getTime();
                var k = window[y] = new Image();
                k.onload = (k.onerror = function () {
                    window[y] = null
                });
                k.src = j + "&iId=" + y;
                k = null
            }

            function i() {
                if (u.test(t)) {
                    return "click.suning.cn/sa"
                } else {
                    return "clicksit.suning.cn/sa"
                }
            }

            function e() {
                return document.domain
            }

            function l(k, j, D, C, B) {
                try {
                    var A = k + "=" + escape(j);
                    if (C != "") {
                        var z = new Date();
                        z.setTime(z.getTime() + C);
                        A += ";expires=" + z.toGMTString()
                    }
                    if (D != "") {
                        A += ";path=" + D
                    }
                    var y = e();
                    if (y.indexOf(".suning.com") != -1) {
                        A += ";domain=.suning.com"
                    } else {
                        if (y.indexOf(".cnsuning.com") != -1) {
                            A += ";domain=.cnsuning.com"
                        } else {
                            A += ";domain=" + B
                        }
                    }
                    document.cookie = A
                } catch (B) {
                }
            }

            function x(k) {
                var j = "-";
                if (!a(k)) {
                    j = g(k, "tid", "&")
                }
                return j
            }

            function q(j) {
                try {
                    if (j.length > 301) {
                        j = j.substring(0, 300)
                    }
                    while (j.indexOf(b) != -1) {
                        j = j.replace(b, "--")
                    }
                    return j
                } catch (k) {
                }
            }

            function f(z, k) {
                try {
                    if (z.nodeType == 3) {
                        k.push(z.nodeValue)
                    } else {
                        if (z.nodeType == 1) {
                            for (var j = z.firstChild; j != null; j = j.nextSibling) {
                                f(j, k)
                            }
                        }
                    }
                } catch (y) {
                }
            }

            function m(j) {
                return j != null ? encodeURIComponent(j) : ""
            }

            function g(y, k, B) {
                try {
                    var A = "-", j;
                    if (!a(y) && !a(k) && !a(B)) {
                        j = y.indexOf(k);
                        if (j > -1) {
                            var z = y.indexOf(B, j);
                            if (z < 0) {
                                z = y.length
                            }
                            A = y.substring(j + k.length + 1, z)
                        }
                    }
                    return A
                } catch (z) {
                }
            }

            function a(j) {
                return (undefined == j || "" == j || "-" == j)
            }

            var s = sa.click;
            s.sendDatasIndex = r
        })();
    </script>
    <style>
        * {
            -webkit-box-sizing: initial;
            -moz-box-sizing: initial;
            box-sizing: initial;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="http://zc.suning.com/webstatic/style/css/index/main.css?v=1545310876603"/>
    <script type="text/javascript">
        var ctx = '//zc.suning.com/webstatic/',
            biLoginRecmdUrl = '/getLoginBiRecmdPro.htm',
            biRecmdUrl = '/getBiRecmdPro.htm',
            base = '';
    </script>
    <style>
        .fin-index-color {
            color: #F18D00;
            /*font-weight: bold;*/
            /*border-bottom: 3px solid #F18D00;*/
        }
    </style>
</head>

<body>
<input type="hidden" id="pagename" value="pgcate=10004;prdtp=100046;pgtitle=苏宁众筹PC首页">
<div id="_TOP_BANNER_" class="ng-top-banner"></div>
<div class="ng-toolbar">
    <div class="ng-toolbar-con wrapper">
        <div class="ng-toolbar-left">
            <a href="/" class="ng-bar-node ng-bar-node-backhome" id="ng-bar-node-backhome"
               name="public0_none_dbgjt_fhyisy01" style="display: block;">
                <i class="ng-iconfont ng-backhome"></i><span>返回首页</span>
                <i class="ng-line ng-iconfont ml10"></i>
            </a>
            <script type="text/javascript">
                if (!sn.isHome) {
                    document.getElementById('ng-bar-node-backhome').style.display = "block";
                }
                ;
            </script>
        </div>
        <div class="ng-toolbar-right">

            <a href="javascript:void(0)" class="ng-bar-node username-bar-node username-bar-node-showside"
               id="username-node" rel="nofollow" style="display:none;">
                <span id="usernameHtml01"></span>
                <em class="hasmsg ng-iconfont"></em>
            </a>

            <div class="ng-bar-node reg-bar-node" id="reg-bar-node" style="display: none;">
                <a href="/login" id="user"  rel="nofollow"
                   class="login" >请登录</a>

                <a href="/user/loginout" target="_blank" class="login reg-bbb" rel="nofollow"
                   name="public0_none_denglu_zhuce">退出登录</a>

                <a href="/register" target="_blank" class="login reg-bbb" rel="nofollow"
                   name="public0_none_denglu_zhuce">注册</a>
            </div>
            <script type="text/javascript">

                var stripscript = function (s) {
                    var pattern = new RegExp("[<>]")
                    var rs = "";
                    for (var i = 0; i < s.length; i++) {
                        rs = rs + s.substr(i, 1).replace(pattern, '');
                    }
                    return rs;
                }

                function d(b) {
                    var a;
                    return (a = document.cookie.match(RegExp("(^| )" + b + "=([^;]*)(;|$)"))) ? stripscript(decodeURIComponent(a[2].replace(/\+/g, "%20"))) : null
                };
                var uernameA = d("logonStatus");
                var usernameNode = document.getElementById('username-node');
                var usernameNodeSlide = document.getElementById('username-node-slide');
                var usernameHtml01 = document.getElementById('usernameHtml01'),
                    usernameHtml02 = document.getElementById('usernameHtml02');
                var regBarNode = document.getElementById('reg-bar-node');
                if (uernameA != null && uernameA != "") {
                    var uernameC = d("nick");
                    // if( ((window.sidebar_config && sidebar_config.enable)||sn.hasSidebar) && !sn.hasNewSidebar ){
                    //  usernameNode.style.display = "block";
                    // }else{
                    usernameNodeSlide.style.display = "block";
                    //}
                    usernameHtml01.innerHTML = uernameC;
                    usernameHtml02.innerHTML = uernameC;
                    regBarNode.style.display = "none";
                } else {
                    usernameNode.style.display = "none";
                    usernameNodeSlide.style.display = "none";
                    usernameHtml01.innerHTML = " ";
                    usernameHtml02.innerHTML = " ";
                    regBarNode.style.display = "block";
                }
            </script>

        </div>
        <div id="ng-minicart-slide-box"></div>
    </div>
</div>

<script>
    /*
     * 宽窄屏切换
     * */
    var bodyTag = document.getElementsByTagName("body")[0],
        bodyClassName = bodyTag.getAttribute("className") || bodyTag.getAttribute("class");
    bodyClassName = bodyClassName ? bodyClassName + " " : "";
    if (screen.width >= 1200) {
        bodyTag.className = bodyClassName + "root1200";
    } else {
        bodyTag.className = bodyClassName + "root990";
    }

</script>
<div class="fin-header clearfix">
    <div class="fin-header-top clearfix">
        <div class="fin-col-logo">
            <a class="col-logo" href="/" name="jr_none_logo_01">
                <img width="121" height="48" style="margin: -12px 0"
                     src="/static/logo.png">
            </a>
        </div>
        <div class="fin-header-navigator">
            <div class="fin-nav-list nav-box">
                <ul>
                    <li><a href="/" name="zc_nav_home"><span class="fin-index-color">首页</span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-myfin j-fin-myfin-target">
            <a class="col-myfin-link j-fin-myfin-src" href="//zc.suning.com/myCF/showMyCF.htm" name="jr_none_myjr_myjr">
                <span class="col-myfin-img-box">
                    <img class="col-myfin-img" src="/static/title.jpg"
                         width="50" height="50" alt=""></span><span class="col-myfin-link-text fin-my-color">我的众筹</span></a>
        </div>
    </div>
</div>
<style>
    .fin-nav-list a {
        color: #222;
    }

    .fin-nav-list a:hover {
        color: #f70;
    }
</style>
<!--用户信息加载-->
<script>
    $(function () {
        var strcookie = document.cookie;//获取cookie字符串
        var arrcookie = strcookie.split(";");//分割
        var name="user";
        for (var i = 0; i < arrcookie.length; i++) {
            var arr = arrcookie[i].split("=");
            if (arr[0].trim()== name) {
                $("#user").text("欢迎您，"+arr[1]);
                $("#user").attr("href","");
            }
        }
    });

</script>
<div class="warp">
    <!-- 一楼背景 -->
    <div class="floor-one-bg-wrap">
        <div class="floor-one-bg floor-one-bg-1"></div>
        <div class="floor-one-bg floor-one-bg-2 hide"></div>
        <div class="floor-one-bg floor-one-bg-3 hide"></div>
        <div class="floor-one-bg floor-one-bg-4 hide"></div>
        <div class="floor-one-bg floor-one-bg-5 hide"></div>
    </div>
    <!--[[floor-->
    <div class="floor floor-one w">
        <!--[[fl_main-->
        <div class="fl_main">
            <div class="slide-main-wrap">
                <div class="slide-left-view">
                    <ul class='slide-left-view-wrap'>
                        <li th:if="${status.index*2<minors.size()}" class="left-content" th:each="m,status:${minors}">
                            <a th:if="${status.index*2<minors.size()}" target="_blank"
                               th:href="'/itemDetail/find?itemId='+${minors.get(status.index*2).itemId}" name="zc_none_banner_Left1">
                                <img th:src="'http://localhost/static/'+${minors.get(status.index*2).image}">
                            </a>
                            <a th:if="${(status.index*2+1)<minors.size()}" target="_blank"
                               th:href="'/itemDetail/find?itemId='+${minors.get(status.index*2+1).itemId}"
                               name="zc_none_banner_Left1">
                                <img th:src="'http://localhost/static/'+${minors.get(status.index*2+1).image}">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="slide-main-view">
                    <ul class='slide-main-view-wrap'>
                        <li class="main-content" th:each="main:${mains}">
                            <a target="_blank"
                               th:href="'/itemDetail/find?itemId='+${main.itemId}"
                               name="zc_none_banner_main01">
                                <img th:src="'http://localhost/static/'+${main.image}">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="page-circle-wrap">
                </div>

                <a href="javascript:void(0);" class="prev on" name="zc_none_banner_leftButton01"></a>
                <a href="javascript:void(0);" class="next on" name="zc_none_banner_rightButton01"></a>
            </div>

            <div class="slide-sub-wrap">
                <div class="slide-sub-head">
                    <a href="/project/browseList.htm?t=01" target="_blank" class="start-soon">即将开始</a>
                    <a href="javascript:void(0);" class="prev opening-soon-arrow" name="zc_none_banner_leftButton02"></a>
                    <a href="javascript:void(0);" class="next opening-soon-arrow" name="zc_none_banner_rightButton02"></a>
                </div>


                <div class="slide-top-view">
                    <ul class='slide-top-view-wrap'>
                        <li class="top-content">
                            <a target="_blank" href="/project/detail.htm?projectId=22118" name="zc_none_banner_upperRight1">
                                <img src="//image.suning.cn/uimg/cfs/project/154848619568445737.jpg">
                            </a>
                            <div class="opacity-bar"></div>
                            <div class="opacity-text">上线日期 02/02</div>
                        </li>
                        <li class="top-content">
                            <a target="_blank" href="/project/detail.htm?projectId=22063" name="zc_none_banner_upperRight4">
                                <img src="//image.suning.cn/uimg/cfs/project/154778990027567319.jpg">
                            </a>
                            <div class="opacity-bar"></div>
                            <div class="opacity-text">上线日期 02/14</div>
                        </li>
                        <li class="top-content">
                            <a target="_blank" href="/project/detail.htm?projectId=22037" name="zc_none_banner_upperRight7">
                                <img src="//image.suning.cn/uimg/cfs/project/154760577004178168.png">
                            </a>
                            <div class="opacity-bar"></div>
                            <div class="opacity-text">上线日期 02/17</div>
                        </li>
                        <li class="top-content">
                            <a target="_blank" href="/project/detail.htm?projectId=22049" name="zc_none_banner_upperRight10">
                                <img src="//image.suning.cn/uimg/cfs/project/154770371954774299.jpg">
                            </a>
                            <div class="opacity-bar"></div>
                            <div class="opacity-text">上线日期 02/17</div>
                        </li>
                    </ul>
                </div>
                <div class="slide-middle-view">
                    <ul class='slide-middle-view-wrap'>
                        <li class="middle-content">
                            <a target="_blank" href="/project/detail.htm?projectId=22017" name="zc_none_banner_middleRight2">
                                <img src="//image.suning.cn/uimg/cfs/project/154735977214801649.jpg">
                            </a>
                            <div class="opacity-bar"></div>
                            <div class="opacity-text">上线日期02/13</div>
                        </li>
                        <li class="middle-content">
                            <a target="_blank" href="/project/detail.htm?projectId=21833" name="zc_none_banner_middleRight5">
                                <img src="//image.suning.cn/uimg/cfs/project/154520202333580676.jpg">
                            </a>
                            <div class="opacity-bar"></div>
                            <div class="opacity-text">上线日期02/15</div>
                        </li>
                        <li class="middle-content">
                            <a target="_blank" href="/project/detail.htm?projectId=22031" name="zc_none_banner_middleRight8">
                                <img src="//image.suning.cn/uimg/cfs/project/154752209643586824.jpg">
                            </a>
                            <div class="opacity-bar"></div>
                            <div class="opacity-text">上线日期02/17</div>
                        </li>
                        <li class="middle-content">
                            <a target="_blank" href="/project/detail.htm?projectId=22074" name="zc_none_banner_middleRight11">
                                <img src="//image.suning.cn/uimg/cfs/project/154804233371468409.jpg">
                            </a>
                            <div class="opacity-bar"></div>
                            <div class="opacity-text">上线日期02/17</div>
                        </li>
                    </ul>
                </div>
                <div class="slide-bottom-view">
                    <ul class='slide-bottom-view-wrap'>
                        <li class="middle-content">
                            <a target="_blank" href="/project/detail.htm?projectId=22032" name="zc_none_banner_lowerRight3">
                                <img src="//image.suning.cn/uimg/cfs/project/154840508868068411.jpg">
                            </a>
                            <div class="opacity-bar"></div>
                            <div class="opacity-text">上线日期 02/13</div>
                        </li>
                        <li class="middle-content">
                            <a target="_blank" href="/project/detail.htm?projectId=22027" name="zc_none_banner_lowerRight6">
                                <img src="//image.suning.cn/uimg/cfs/project/154745863822685545.jpg">
                            </a>
                            <div class="opacity-bar"></div>
                            <div class="opacity-text">上线日期 02/17</div>
                        </li>
                        <li class="middle-content">
                            <a target="_blank" href="/project/detail.htm?projectId=22096" name="zc_none_banner_lowerRight9">
                                <img src="//image.suning.cn/uimg/cfs/project/154814186863364330.jpg">
                            </a>
                            <div class="opacity-bar"></div>
                            <div class="opacity-text">上线日期 02/17</div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!--fl_main]]-->
    </div>
    <!--floor]]-->
    <!--[[floor 热门项目-->
    <div class="floor floor-hot w">
        <h2 class="fl_h2">热门项目</h2>
        <div class="fl-menu item-filter" style="top: 12px;">


            <form id="browseForm" action="/search" method="post">
                <!-- keyword属性和button属性值要求一一对应 -->
                <div class="hot-search item-filter-search">
                    <input id="searches" type="text" name="query" placeholder="请输入关键字" keyword="zc_search" class="mod-input txt" value=""
                           onblur="if(this.value=='') {this.value='请输入关键字';this.style.color='#ccc';}" onfocus="if(this.value=='请输入关键字') {this.value='';this.style.color='#333';}">
                    <button type="submit" class="search-btn" button="zc_search" id="search" name="zc_none_hotSale_search01">
                        <i class="icon_search"></i>
                    </button>
                </div>
            </form>


        </div>

        <div class="fl_hot">
            <ul class="fl_content">
                <li th:each="item:${items}">
                    <a th:href="'/itemDetail/find?itemId='+${item.id}" name="zc_none_hotSale_01" target="_blank">
                        <h3 th:text="${item.name}">
                        </h3>
                        <p class="text-info" th:text="${item.shortTitle}">
                        </p>
                        <p class="num-of-person" th:text="'支持人数'+${item.contributeNum}"></p>
                        <p class="f16 c999 money-collect-wrap clearfix">
                            <span class="fl">已筹</span>
                            <span class="collect-money fl" th:text="'&yen'+${item.currentMoney}"></span>
                        </p>
                        <img th:src="'http://localhost/static/'+${item.image}">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--floor 热门项目]]-->
</div>

<script data-main="//zc.suning.com/webstatic/scripts/front/index/main.js?v=1545310876603" src="//zc.suning.com/webstatic/scripts/lib/require/require.min.js"></script>
</body>


</html>
