<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>支持</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="shortcut icon" href="/static/title.jpg" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="//resjrprd.suning.com/finance/public/v1/style/css/fin_common.css?v=20161001"/>
    <link rel="stylesheet" type="text/css" href="//zc.suning.com/webstatic/style/css/common.css?v=1545310905742"/>
    <script>
        var ctx = '//zc.suning.com/webstatic/';
        var context = '';
        var staticVersion = 'v=1545310905742';
        var imgUrl = '//image.suning.cn/'
        var finConfig = {
            focusIndex: 'zhch'
        };
    </script>
    <script type="text/javascript" src="https://res.suning.cn/project/passport/js/passport.min.js?v=1545310905742"></script>
    <script>
        var passport_config = {
            base: "/",
            loginTheme: "b2c_pop"
        };
    </script>
    <link href="//sale.suning.com/images/advertise/hg/20111027snhear/css.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/static/title.jpg" type="image/x-icon">
    <script src="//res.suning.cn/public/v3/js/jquery.js?201500730"></script>
    <script type="text/javascript">var sn = sn || {
        "context": "/emall",
        "domain": "www.suning.com",
        "storeId": "10052",
        "catalogId": "10051",
        "memberDomain": "member.suning.com",
        "online": "online.suning.com",
        "cookieDomain": ".suning.com",
        "categoryId": "10051",
        "searchDomain": 'http://search.cnsuning.com/emall/',
        "hasSidebar": false
    };</script>
    <!-- PRFLS RESOURCES -->
    <link rel="shortcut icon" href="/static/title.jpg" type="image/x-icon"/>
    <link rel="stylesheet" href="//res.suning.cn/public/v3/css/??v3common.min.css,search.min.css,sn-sidebar.min.css?v=2017103101"/>
    <script type="text/javascript"
            src="//res.suning.cn??/public/v3/js/jquery.js,/public/v3/js/sn_lazyload.js,/public/v3/js/lazyelem.min.js,/public/v3/js/SFE.base.min.js,/public/v3/js/search.min.js,/public/sidebar/build/js/sn-sidebar.min.js,/project/yunxin/js/chatCompat_mini.js?v=2017103101"></script>
    <script>
        var sa;
        if (!sa) {
            sa = {}
        }
        if (!sa.click) {
            sa.click = {}
        }
        (function () {
            var u = /^\w*?.suning.com$/, t = document.location.hostname, h = (("https:" == document.location.protocol) ? "https://" : "http://"), p = i(), b = "|", c = location.href, n = m(q(c));

            function r(aa, N) {
                try {
                    var Z = aa.name ? m(aa.name) : "name undefined";
                    if (Z == "name undefined") {
                        var ab = aa.attributes.name;
                        if (ab != undefined && ab != null) {
                            Z = ab.value ? m(ab.value) : "name undefined"
                        }
                    }
                    if (N != undefined && N != null && N != "") {
                        var K = aa.attributes[N];
                        if (K != undefined && K != null) {
                            Z = K.value ? m(K.value) : N + " undefined"
                        }
                    }
                    var O = aa.id ? m(aa.id) : "id undefined", R = new Array(), A = (f(aa, R), R) ? m(R.join("").replace(/\s|\|/ig, "")) : "text undefined",
                        U = (U = document.getElementById("resourceType")) ? U.value : "", B = O + b + Z + b + A, S = (S = document.getElementById("errorCode")) ? S.value : "",
                        X = h + p + "/ajaxClick.gif", z = v(), k = "_snck";
                    l(k, z, "/", "", "");
                    var Y = d();
                    var E = typeof sn == "object" ? sn.cityId : "can not get cityId", J = z + b + Y + b + B + b + n, W = aa.href ? aa.href : "", I = (W ? x(W) : "-"),
                        L = document.getElementById("URLPattern"), Q = (L ? L.value : "");
                    var D = "";
                    var G = o("logonStatus");
                    if (G != undefined && G != null) {
                        D = G
                    }
                    var F = "";
                    var j = o("_snma");
                    if (j != undefined && j != null && j.indexOf("|") >= 0) {
                        try {
                            F = j.split("|")[1]
                        } catch (V) {
                        }
                    }
                    var C = "";
                    var y = o("idsLoginUserIdLastTime");
                    if (y != undefined && y != null) {
                        C = y
                    }
                    var T = "";
                    var P = o("custno");
                    if (P != undefined && P != null) {
                        T = P
                    }
                    var M = "";
                    var ac = o("_snmb");
                    if (ac != undefined && ac != null && ac.indexOf("|") >= 0) {
                        try {
                            M = ac.split("|")[0]
                        } catch (V) {
                        }
                    }
                    var H = X + "?_snmk=" + J + "&_snme=" + S + "&_type=" + U + "&_cId=" + E + "&_sid=" + I + "&urlPattern=" + Q + "&vid=" + F + "&lu=" + C + "&sid=" + M + "&mid=" + T + "&ls=" + D;
                    w(H)
                } catch (V) {
                }
            }

            function d() {
                if (!sa.pvId) {
                    sa.pvId = v()
                }
                return sa.pvId
            }

            function v() {
                try {
                    var k = new Date(), j = Math.round(100000 * Math.random()), z = k.getTime().toString().concat(j);
                    return z
                } catch (y) {
                }
            }

            function o(k) {
                var j = document.cookie.split("; ");
                for (var y = 0; y < j.length; y++) {
                    var z = j[y].split("=");
                    if (z[0] == k) {
                        return unescape(z[1])
                    }
                }
            }

            function w(j) {
                var y = "log_" + (new Date()).getTime();
                var k = window[y] = new Image();
                k.onload = (k.onerror = function () {
                    window[y] = null
                });
                k.src = j + "&iId=" + y;
                k = null
            }

            function i() {
                if (u.test(t)) {
                    return "click.suning.cn/sa"
                } else {
                    return "clicksit.suning.cn/sa"
                }
            }

            function e() {
                return document.domain
            }

            function l(k, j, D, C, B) {
                try {
                    var A = k + "=" + escape(j);
                    if (C != "") {
                        var z = new Date();
                        z.setTime(z.getTime() + C);
                        A += ";expires=" + z.toGMTString()
                    }
                    if (D != "") {
                        A += ";path=" + D
                    }
                    var y = e();
                    if (y.indexOf(".suning.com") != -1) {
                        A += ";domain=.suning.com"
                    } else {
                        if (y.indexOf(".cnsuning.com") != -1) {
                            A += ";domain=.cnsuning.com"
                        } else {
                            A += ";domain=" + B
                        }
                    }
                    document.cookie = A
                } catch (B) {
                }
            }

            function x(k) {
                var j = "-";
                if (!a(k)) {
                    j = g(k, "tid", "&")
                }
                return j
            }

            function q(j) {
                try {
                    if (j.length > 301) {
                        j = j.substring(0, 300)
                    }
                    while (j.indexOf(b) != -1) {
                        j = j.replace(b, "--")
                    }
                    return j
                } catch (k) {
                }
            }

            function f(z, k) {
                try {
                    if (z.nodeType == 3) {
                        k.push(z.nodeValue)
                    } else {
                        if (z.nodeType == 1) {
                            for (var j = z.firstChild; j != null; j = j.nextSibling) {
                                f(j, k)
                            }
                        }
                    }
                } catch (y) {
                }
            }

            function m(j) {
                return j != null ? encodeURIComponent(j) : ""
            }

            function g(y, k, B) {
                try {
                    var A = "-", j;
                    if (!a(y) && !a(k) && !a(B)) {
                        j = y.indexOf(k);
                        if (j > -1) {
                            var z = y.indexOf(B, j);
                            if (z < 0) {
                                z = y.length
                            }
                            A = y.substring(j + k.length + 1, z)
                        }
                    }
                    return A
                } catch (z) {
                }
            }

            function a(j) {
                return (undefined == j || "" == j || "-" == j)
            }

            var s = sa.click;
            s.sendDatasIndex = r
        })();
    </script>
    <style>
        * {
            -webkit-box-sizing: initial;
            -moz-box-sizing: initial;
            box-sizing: initial;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="//zc.suning.com/webstatic/style/css/initiate.css">
    <script type="text/javascript">
        cartNo = 1;
    </script>
    <style>
        .fin-my-color {
            color: #F18D00;
            /*font-weight: bold;*/
            /*border-bottom: 3px solid #F18D00;*/
        }
    </style>
</head>
<body>
<div id="_TOP_BANNER_" class="ng-top-banner"></div>
<div class="ng-toolbar">
    <div class="ng-toolbar-con wrapper">
        <div class="ng-toolbar-left">
            <a href="/" class="ng-bar-node ng-bar-node-backhome" id="ng-bar-node-backhome"
               name="public0_none_dbgjt_fhyisy01" style="display: block;">
                <i class="ng-iconfont ng-backhome"></i><span>返回首页</span>
                <i class="ng-line ng-iconfont ml10"></i>
            </a>
            <script type="text/javascript">
                if (!sn.isHome) {
                    document.getElementById('ng-bar-node-backhome').style.display = "block";
                }
                ;
            </script>
        </div>
        <div class="ng-toolbar-right">

            <a href="javascript:void(0)" class="ng-bar-node username-bar-node username-bar-node-showside"
               id="username-node" rel="nofollow" style="display:none;">
                <span id="usernameHtml01"></span>
                <em class="hasmsg ng-iconfont"></em>
            </a>

            <div class="ng-bar-node reg-bar-node" id="reg-bar-node" style="display: none;">
                <a href="/login" id="user" rel="nofollow"
                   class="login">请登录</a>

                <a href="/user/loginout" target="_blank" class="login reg-bbb" rel="nofollow"
                   name="public0_none_denglu_zhuce">退出登录</a>

                <a href="/register" target="_blank" class="login reg-bbb" rel="nofollow"
                   name="public0_none_denglu_zhuce">注册</a>
            </div>


        </div>
        <div id="ng-minicart-slide-box"></div>
    </div>
</div>
<script>
    /*
     * 宽窄屏切换
     * */
    var bodyTag = document.getElementsByTagName("body")[0],
        bodyClassName = bodyTag.getAttribute("className") || bodyTag.getAttribute("class");
    bodyClassName = bodyClassName ? bodyClassName + " " : "";
    if (screen.width >= 1200) {
        bodyTag.className = bodyClassName + "root1200";
    } else {
        bodyTag.className = bodyClassName + "root990";
    }

</script>
<div class="fin-header clearfix">
    <div class="fin-header-top clearfix">
        <div class="fin-col-logo">
            <a class="col-logo" href="/" name="jr_none_logo_01">
                <img width="121" height="48" style="margin: -12px 0"
                     src="/static/logo.png">
            </a>
        </div>
        <div class="fin-header-navigator">
            <div class="fin-nav-list nav-box">
                <ul>
                    <li><a href="/" name="zc_nav_home"><span class="fin-index-color">首页</span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-myfin j-fin-myfin-target">
            <a class="col-myfin-link j-fin-myfin-src" href="//zc.suning.com/myCF/showMyCF.htm" name="jr_none_myjr_myjr">
                <span class="col-myfin-img-box">
                    <img class="col-myfin-img" src="/static/title.jpg"
                         width="50" height="50" alt=""></span><span class="col-myfin-link-text fin-my-color">我的众筹</span></a>
        </div>
    </div>
</div>
<style>
    .fin-nav-list a {
        color: #222;
    }

    .fin-nav-list a:hover {
        color: #f70;
    }
</style>
<script>
    $(function () {
        var strcookie = document.cookie;//获取cookie字符串
        var arrcookie = strcookie.split(";");//分割
        var name = "user";
        for (var i = 0; i < arrcookie.length; i++) {
            var arr = arrcookie[i].split("=");
            if (arr[0].trim() == name) {
                $("#userName").val(arr[1]);
                $("#user").text("欢迎您，" + arr[1]);
                $("#user").attr("href", "");
            }
        }
    });
</script>
<div class="wrap">
    <div class="form-box">
        <form id="orderForm" autocomplete="off" method="post">
            <div class="form-border-body box-order">
                <h3>请确认您所选择的项目及支持信息</h3>
                <div class="box box-indent project-info box-top-noline">
                    <table class="table-initiate">
                        <tr>
                            <th style="width:200px;">项目名称</th>
                            <th style="width:140px;">发起人</th>
                            <th style="width:90px;">支持资金</th>
                        </tr>
                        <tr>
                            <td th:text="${item.name}" class="center"></td>
                            <td class="center" th:text="${item.linkmanName}"></td>

                            <td class="center num">
                                <input class="center" id="currentMoney" name="currentMoney" type="text"/>&yen;
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="box">

                    <div class="box-orange box-orange-reset">
                        <div class="btn-pay" id="pay">
                            <a href="" class="J_PaySubmit ">支付</a>
                        </div>
                    </div>
                </div>

                <input type="hidden"  name="contributeNum" value="1"/>
                <input type="hidden" id="userName"  name="userName"  />
                <input type="hidden" th:value="${item.id}" name="id" id="id" />
            </div>
        </form>
    </div>
</div>
<script>
    $("#pay").click(function () {
        var number = /^\d+$/;
        if (!number.test($("#currentMoney").val())) {
            alert("金额只能为数字");
            return;
        }

        var data = $("#orderForm").serialize();
        $.ajax({
            type: 'post',
            url: '/item/pay',
            cache: false,
            data: data,  //重点必须为一个变量如：data
            dataType: 'json',
            success: function (data) {
                alert(data.message);
            },
            error: function () {
                alert("请求失败")
            }
        });

    });
</script>
<div class="clear"></div>
<style type="text/css">
    .ng-footer {
        height: 200px;
        margin-top: 0;
    }

    .ng-s-footer {
        height: 185px;
        background: none;
        text-align: center;
    }

    .ng-s-footer p.ng-url-list {
        height: 25px;
        line-height: 25px;
    }

    .ng-s-footer p.ng-url-list a {
        color: #666666;
    }

    .ng-s-footer p.ng-url-list a:hover {
        color: #f60;
    }

    .ng-s-footer .ng-authentication {
        float: none;
        margin: 0 auto;
        height: 25px;
        width: 990px;
        margin-top: 5px;
    }

    .ng-s-footer p.ng-copyright {
        float: none;
        width: 100%;
    }

    .root1200 .ng-s-footer p.ng-copyright {
        width: 100%;
    }
</style>
<script id="address-tpl" type="text/html">
    <li class="address-item">
        <i class="icon-address"></i>
        <i class="icon-radio">
            <input class="hide" type="radio" name="addressId" value="{{addrNum}}">
        </i>
        <div class="address-detail"
             data-value='{"addrNum": "{{addrNum}}","cntctPointName": "{{cntctPointName}}", "mobileNumMain": "{{mobileNumMain}}", "state": "{{state}}", "stateCn": "{{stateCn}}", "city": "{{city}}", "cityCn": "{{cityCn}}", "town": "{{town}}", "townCn": "{{townCn}}", "street": "{{street}}", "streetCn": "{{streetCn}}", "address": "{{address}}","preferFlag":"{{preferFlag}}"}'>
            <span class="name">{{cntctPointName}}</span>
            <span class="tel">{{mobileNumMain}}</span>
            <span class="add">{{stateCn}} {{if !isDirect}}{{cityCn}}{{/if}} {{townCn}} {{streetCn}} {{address}}</span>
        </div>
        <span class="action">
				<a href="javascript:;" class="set-default-address">设为默认地址</a>
				<i></i>
				<a href="javascript:;" class="edit-address">修改</a>
				<i></i>
				<a href="javascript:;" class="del-address">删除</a>
			</span>
    </li>
</script>
<script data-main="//zc.suning.com/webstatic/scripts/front/cartMain" src="//zc.suning.com/webstatic/scripts/lib/require/require.min.js"></script>
<!--<script type="text/javascript" src="//resjrprd.suning.com/finance/public/v1/scripts/lib/jquery/jquery.1.7.2.js?v=20161001"></script><script type="text/javascript" src="//resjrprd.suning.com/finance/public/v1/scripts/lib/common/common.js?v=20161001"></script><script type="text/javascript" src="//res.suning.cn/project/yunxin/js/chatCompat_mini.js?v=20161001"></script>-->
</body>
</html>