<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        你筹啥-众筹搜索
    </title>
    <meta name="keywords" content="苏宁众筹，众筹项目">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="shortcut icon" href="/static/title.jpg" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="http://resjrprd.suning.com/finance/public/v1/style/css/fin_common.css?v=20161001"/>
    <link rel="stylesheet" type="text/css" href="http://zc.suning.com/webstatic/style/css/common.css?v=1545310876603"/>
    <script>
        var ctx = '//zc.suning.com/webstatic/';
        var context = '';
        var staticVersion = 'v=1545310876603';
        var imgUrl = '//image.suning.cn/'
        var finConfig = {
            focusIndex: 'zhch'
        };
    </script>
    <link type="text/css" rel="stylesheet" href="http://zc.suning.com/webstatic/style/css/detail.css?v=1545310876603">
    <link type="text/css" rel="stylesheet" href="http://zc.suning.com/webstatic/style/css/common.css?v=1545310876603">
    <!-- 自定义宏，公共组件-->

    <!--变换字符串，超长省略号-->

    <!--分转元-->
    <script type="text/javascript" src="https://res.suning.cn/project/passport/js/passport.min.js?v=1545310876603"></script>
    <script>
        var passport_config = {
            base: "/",
            loginTheme: "b2c_pop"
        };
    </script>
    <link href="http://sale.suning.com/images/advertise/hg/20111027snhear/css.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/static/title.jpg" type="image/x-icon">
    <script type="text/javascript">var sn = sn || {
        "context": "/emall",
        "domain": "www.suning.com",
        "storeId": "10052",
        "catalogId": "10051",
        "memberDomain": "member.suning.com",
        "online": "online.suning.com",
        "cookieDomain": ".suning.com",
        "categoryId": "10051",
        "searchDomain": 'http://search.cnsuning.com/emall/',
        "hasSidebar": false
    };</script>
    <!-- PRFLS RESOURCES -->
    <link rel="shortcut icon" href="/static/title.jpg" type="image/x-icon"/>
    <link rel="stylesheet" href="http://res.suning.cn/public/v3/css/??v3common.min.css,search.min.css,sn-sidebar.min.css?v=2017103101"/>
    <script>
        var sa;
        if (!sa) {
            sa = {}
        }
        if (!sa.click) {
            sa.click = {}
        }
        (function () {
            var u = /^\w*?.suning.com$/, t = document.location.hostname, h = (("https:" == document.location.protocol) ? "https://" : "http://"), p = i(), b = "|", c = location.href, n = m(q(c));

            function r(aa, N) {
                try {
                    var Z = aa.name ? m(aa.name) : "name undefined";
                    if (Z == "name undefined") {
                        var ab = aa.attributes.name;
                        if (ab != undefined && ab != null) {
                            Z = ab.value ? m(ab.value) : "name undefined"
                        }
                    }
                    if (N != undefined && N != null && N != "") {
                        var K = aa.attributes[N];
                        if (K != undefined && K != null) {
                            Z = K.value ? m(K.value) : N + " undefined"
                        }
                    }
                    var O = aa.id ? m(aa.id) : "id undefined", R = new Array(), A = (f(aa, R), R) ? m(R.join("").replace(/\s|\|/ig, "")) : "text undefined",
                        U = (U = document.getElementById("resourceType")) ? U.value : "", B = O + b + Z + b + A, S = (S = document.getElementById("errorCode")) ? S.value : "",
                        X = h + p + "/ajaxClick.gif", z = v(), k = "_snck";
                    l(k, z, "/", "", "");
                    var Y = d();
                    var E = typeof sn == "object" ? sn.cityId : "can not get cityId", J = z + b + Y + b + B + b + n, W = aa.href ? aa.href : "", I = (W ? x(W) : "-"),
                        L = document.getElementById("URLPattern"), Q = (L ? L.value : "");
                    var D = "";
                    var G = o("logonStatus");
                    if (G != undefined && G != null) {
                        D = G
                    }
                    var F = "";
                    var j = o("_snma");
                    if (j != undefined && j != null && j.indexOf("|") >= 0) {
                        try {
                            F = j.split("|")[1]
                        } catch (V) {
                        }
                    }
                    var C = "";
                    var y = o("idsLoginUserIdLastTime");
                    if (y != undefined && y != null) {
                        C = y
                    }
                    var T = "";
                    var P = o("custno");
                    if (P != undefined && P != null) {
                        T = P
                    }
                    var M = "";
                    var ac = o("_snmb");
                    if (ac != undefined && ac != null && ac.indexOf("|") >= 0) {
                        try {
                            M = ac.split("|")[0]
                        } catch (V) {
                        }
                    }
                    var H = X + "?_snmk=" + J + "&_snme=" + S + "&_type=" + U + "&_cId=" + E + "&_sid=" + I + "&urlPattern=" + Q + "&vid=" + F + "&lu=" + C + "&sid=" + M + "&mid=" + T + "&ls=" + D;
                    w(H)
                } catch (V) {
                }
            }

            function d() {
                if (!sa.pvId) {
                    sa.pvId = v()
                }
                return sa.pvId
            }

            function v() {
                try {
                    var k = new Date(), j = Math.round(100000 * Math.random()), z = k.getTime().toString().concat(j);
                    return z
                } catch (y) {
                }
            }

            function o(k) {
                var j = document.cookie.split("; ");
                for (var y = 0; y < j.length; y++) {
                    var z = j[y].split("=");
                    if (z[0] == k) {
                        return unescape(z[1])
                    }
                }
            }

            function w(j) {
                var y = "log_" + (new Date()).getTime();
                var k = window[y] = new Image();
                k.onload = (k.onerror = function () {
                    window[y] = null
                });
                k.src = j + "&iId=" + y;
                k = null
            }

            function i() {
                if (u.test(t)) {
                    return "click.suning.cn/sa"
                } else {
                    return "clicksit.suning.cn/sa"
                }
            }

            function e() {
                return document.domain
            }

            function l(k, j, D, C, B) {
                try {
                    var A = k + "=" + escape(j);
                    if (C != "") {
                        var z = new Date();
                        z.setTime(z.getTime() + C);
                        A += ";expires=" + z.toGMTString()
                    }
                    if (D != "") {
                        A += ";path=" + D
                    }
                    var y = e();
                    if (y.indexOf(".suning.com") != -1) {
                        A += ";domain=.suning.com"
                    } else {
                        if (y.indexOf(".cnsuning.com") != -1) {
                            A += ";domain=.cnsuning.com"
                        } else {
                            A += ";domain=" + B
                        }
                    }
                    document.cookie = A
                } catch (B) {
                }
            }

            function x(k) {
                var j = "-";
                if (!a(k)) {
                    j = g(k, "tid", "&")
                }
                return j
            }

            function q(j) {
                try {
                    if (j.length > 301) {
                        j = j.substring(0, 300)
                    }
                    while (j.indexOf(b) != -1) {
                        j = j.replace(b, "--")
                    }
                    return j
                } catch (k) {
                }
            }

            function f(z, k) {
                try {
                    if (z.nodeType == 3) {
                        k.push(z.nodeValue)
                    } else {
                        if (z.nodeType == 1) {
                            for (var j = z.firstChild; j != null; j = j.nextSibling) {
                                f(j, k)
                            }
                        }
                    }
                } catch (y) {
                }
            }

            function m(j) {
                return j != null ? encodeURIComponent(j) : ""
            }

            function g(y, k, B) {
                try {
                    var A = "-", j;
                    if (!a(y) && !a(k) && !a(B)) {
                        j = y.indexOf(k);
                        if (j > -1) {
                            var z = y.indexOf(B, j);
                            if (z < 0) {
                                z = y.length
                            }
                            A = y.substring(j + k.length + 1, z)
                        }
                    }
                    return A
                } catch (z) {
                }
            }

            function a(j) {
                return (undefined == j || "" == j || "-" == j)
            }

            var s = sa.click;
            s.sendDatasIndex = r
        })();
    </script>
    <style>
        * {
            -webkit-box-sizing: initial;
            -moz-box-sizing: initial;
            box-sizing: initial;
        }
    </style>
    <script type="text/javascript">
        var ctx = '//zc.suning.com/webstatic/',
            base = '';
        var staticVersion = '',
            flagTure = true;
    </script>

</head>
<body>
<input type="hidden" id="pagename" value="pgcate=10004;prdtp=100046;pgtitle=众筹PC总览页">
<div id="_TOP_BANNER_" class="ng-top-banner"></div>
<div class="ng-toolbar">
    <div class="ng-toolbar-con wrapper">
        <div class="ng-toolbar-left">
            <a href="//www.suning.com" class="ng-bar-node ng-bar-node-backhome" id="ng-bar-node-backhome"
               name="public0_none_dbgjt_fhyisy01" style="display: block;">
                <i class="ng-iconfont ng-backhome"></i><span>返回首页</span>
                <i class="ng-line ng-iconfont ml10"></i>
            </a>
            <script type="text/javascript">
                if (!sn.isHome) {
                    document.getElementById('ng-bar-node-backhome').style.display = "block";
                }
                ;
            </script>
            <div class="ng-bar-node-box ng-site-nav-box lazy-bar-box">
                <a href="javascript:void(0);" class="ng-bar-node ng-bar-node-site" name="public0_none_daohang_wzdh">
                    <span>网站导航</span><em class="ng-iconfont down"></em>
                </a>
                <div class="ng-sn-site-nav ng-d-box site-nav-child" style="display: none;">
                    <!--网站导航列表-->
                    <a href="javascript:void(0);" class="ng-close" name="public0_none_daohang_close"><em
                            class="ng-iconfont"></em></a>
                </div>
            </div>
            <div class="ng-bar-node-box shop-handle lazy-bar-box">
                <a href="https://sop.suning.com" class="ng-bar-node ng-bar-node-pr5  ng-bar-node-shop touch-href"
                   name="public0_none_shangjia_ruzhu" target="_blank"><span>商家入驻</span><em
                        class="ng-iconfont down"></em></a>
                <div class="ng-down-box ng-d-box shop-center-child ng-ser-list" style="display: none;"><a
                        href="https://cc.suning.com/" rel="nofollow" target="_blank" name="">合作招商</a><a
                        href="https://fuwu.suning.com/" rel="nofollow" target="_blank"
                        name="public0_none_shangjia_fuwu">服务市场</a><a href="https://qyjr.suning.com/" rel="nofollow"
                                                                     target="_blank"
                                                                     name="public0_none_shangjia_jinrong">金融中心</a><a
                        href="https://sopbbs.suning.com/forum.php" rel="nofollow" target="_blank"
                        name="public0_none_shangjia_luntan">商家论坛</a><a href="https://stc.suning.com/" rel="nofollow"
                                                                       target="_blank"
                                                                       name="public0_none_shangjia_peixun">培训中心</a><a
                        href="https://ap.suning.com/aps-sale-web/auth/advertise.htm" rel="nofollow" target="_blank"
                        name="public0_none_shangjia_zengzhi">增值服务</a><a href="https://rule.suning.com" rel="nofollow"
                                                                        target="_blank" name="">规则中心</a></div>
            </div>
            <!--服务中心 [[-->
            <div class="ng-bar-node-box service-handle lazy-bar-box">
                <a href="javascript:void(0);"
                   class="ng-bar-node ng-bar-node-service ng-bar-node-fix touch-href ng-bar-node-pr5" rel="nofollow"
                   name="public0_none_kehu_fuwu"><span>客户服务</span><em class="ng-iconfont down"></em>
                </a>
                <div class="ng-down-box ng-d-box service-center-child ng-ser-list" style="display: none;"><a
                        href="https://pindao.suning.com/city/bangke.html" rel="nofollow" target="_blank"
                        name="public0_none_kehu_bangke">苏宁帮客</a><a href="https://help.suning.com" rel="nofollow"
                                                                   target="_blank"
                                                                   name="public0_none_kehu_bangzhu">帮助中心</a><a
                        href="https://vbuy.suning.com/vbuyCity.html" rel="nofollow" target="_blank"
                        name="public0_none_kehu_mendian">查找门店</a><a
                        href="https://assss.suning.com/assss-web/pc/returnGoods/toAfterSaleApplyList.do" rel="nofollow"
                        target="_blank" name="public0_none_kehu_tuihuan">退换/维修</a><a href="https://s.suning.com"
                                                                                     rel="nofollow" target="_blank"
                                                                                     name="public0_none_kehu_jianyi">建议反馈</a><a
                        href="https://cuxiao.suning.com/serve.html" rel="nofollow" target="_blank"
                        name="hot">30天包退</a><a href="https://cuxiao.suning.com/snservice.html" rel="nofollow"
                                               target="_blank" name="">苏宁服务</a>
                    <!--服务中心列表-->

                    <a href="javascript:findpass();" rel="nofollow" name="public0_none_kehu_zixun"
                       style=""><span>在线咨询</span><em class="ng-iconfont"></em></a>
                </div>
            </div>
            <!--服务中心 [[-->
        </div>
        <div class="ng-toolbar-right">

            <a href="javascript:void(0)" class="ng-bar-node username-bar-node username-bar-node-showside"
               id="username-node" rel="nofollow" style="display:none;">
                <span id="usernameHtml01"></span>
                <em class="hasmsg ng-iconfont"></em>
            </a>
            <div class="ng-bar-node-box username-handle" id="username-node-slide" style="display: block;">
                <a href="//my.suning.com" rel="nofollow" class="ng-bar-node username-bar-node username-bar-node-noside">
                    <span id="usernameHtml02"></span>
                    <em class="hasmsg ng-iconfont"></em>
                    <em class="ng-iconfont down"></em>
                </a>
                <div class="ng-d-box ng-down-box ng-username-slide" style="display: none;">
                    <a href="//my.suning.com/person.do" class="ng-vip-union" target="_blank" rel="nofollow">账号管理</a>
                    <a href="javascript:SFE.base.logoff();" rel="nofollow">退出登录</a>
                </div>
            </div>
            <div class="ng-bar-node reg-bar-node" id="reg-bar-node" style="display: none;">
                <a href="javascript:SFE.base.logonurl();" name="public0_none_denglu_denglu" rel="nofollow"
                   class="login">请登录</a>
                <a href="https://reg.suning.com/person.do" target="_blank" class="login reg-bbb" rel="nofollow"
                   name="public0_none_denglu_zhuce">注册有礼</a>
            </div>
            <script type="text/javascript">

                var stripscript = function (s) {
                    var pattern = new RegExp("[<>]")
                    var rs = "";
                    for (var i = 0; i < s.length; i++) {
                        rs = rs + s.substr(i, 1).replace(pattern, '');
                    }
                    return rs;
                }

                function d(b) {
                    var a;
                    return (a = document.cookie.match(RegExp("(^| )" + b + "=([^;]*)(;|$)"))) ? stripscript(decodeURIComponent(a[2].replace(/\+/g, "%20"))) : null
                };
                var uernameA = d("logonStatus");
                var usernameNode = document.getElementById('username-node');
                var usernameNodeSlide = document.getElementById('username-node-slide');
                var usernameHtml01 = document.getElementById('usernameHtml01'),
                    usernameHtml02 = document.getElementById('usernameHtml02');
                var regBarNode = document.getElementById('reg-bar-node');
                if (uernameA != null && uernameA != "") {
                    var uernameC = d("nick");
                    // if( ((window.sidebar_config && sidebar_config.enable)||sn.hasSidebar) && !sn.hasNewSidebar ){
                    //  usernameNode.style.display = "block";
                    // }else{
                    usernameNodeSlide.style.display = "block";
                    //}
                    usernameHtml01.innerHTML = uernameC;
                    usernameHtml02.innerHTML = uernameC;
                    regBarNode.style.display = "none";
                } else {
                    usernameNode.style.display = "none";
                    usernameNodeSlide.style.display = "none";
                    usernameHtml01.innerHTML = " ";
                    usernameHtml02.innerHTML = " ";
                    regBarNode.style.display = "block";
                }
            </script>

            <!--我的订单 [[-->
            <div class="ng-bar-node-box myorder-handle">
                <a href="//order.suning.com/onlineOrder/orderList.do" rel="nofollow" name="public0_none_wode_dingdan"
                   class="ng-bar-node ng-bar-node-fix touch-href ng-bar-node-pr5"><span>我的订单</span><em
                        class="ng-iconfont down"></em></a>
                <div class="ng-down-box ng-d-box myorder-child" style="display: none;">
                    <a href="//order.suning.com/order/orderList.do?transStatus=waitPay"
                       rel="nofollow" name="public0_none_wode_zhufu">待支付<em id="waitPayCounts"></em></a>
                    <a href="//order.suning.com/order/orderList.do?transStatus=waitReceive"
                       rel="nofollow" name="public0_none_wode_shouhuo">待收货<em id="waitDeliveryCounts"></em></a>
                    <a href="//review.suning.com/my_cmmdty_review.do"
                       rel="nofollow" name="public0_none_wode_pingjia">待评价<em id="waitEvaluation"></em></a>
                    <a href="//assss.suning.com/assss-web/pc/modify/toModifyOrderList.do"
                       rel="nofollow" name="public0_none_wode_xiugai">修改订单</a>
                </div>
            </div>
            <!--我的订单 ]]-->
            <!--我的易购 [[-->
            <div class="ng-bar-node-box mysuning-handle">
                <a href="//my.suning.com" rel="nofollow" name="public0_none_wode_yigou"
                   class="ng-bar-node ng-bar-node-fix touch-href ng-bar-node-pr5"><span>我的易购</span><em
                        class="ng-iconfont down"></em></a>
                <div class="ng-down-box ng-d-box mysuning-child" style="display: none;">
                    <div class="mysuning-infor clearfix">
                        <a name="public0_none_wode_touxiang" target="_blank"
                           href="//my.suning.com/person.do?targetTab=head" class="headimg"><img alt="" id="userHead"
                                                                                                src="//image.suning.cn/uimg/cmf/cust_headpic/0000000000_01_60x60.jpg"></a>
                        <div class="mysuning-detail">
                            <a name="public0_none_denglu_denglu" href="javascript:SFE.base.logonurl();" class="login">请登录</a>
                            <a name="public0_none_wode_name" href="//my.suning.com" rel="nofollow" class="username"
                               id="userNickname"></a>
                            <a href="https://sign.suning.com/sign/welcome.do" rel="nofollow"
                               name="public0_none_wode_daka" class="daka">点击打卡</a>
                        </div>
                    </div>
                    <a href="//2.suning.com/myOrder/queryMyOrders.do" name="public0_none_wode_ershou" rel="nofollow"
                       target="_blank">我的二手</a>
                    <a href="//favorite.suning.com/myFavoriteImg.do" rel="nofollow" name="public0_none_wode_shoucang"
                       target="_blank">我的收藏</a>
                    <a href="https://passport.suning.com/ids/trustLogin?sysCode=epp&amp;targetUrl=http://my.jr.suning.com/sfp/accountAssets/index.htm"
                       rel="nofollow" name="public0_none_wode_jinrong" target="_blank">我的金融</a>
                    <a href="//vip.suning.com" class="ng-vip-union" target="_blank" rel="nofollow" name="">苏宁会员<em
                            class="ng-iconfont"></em></a>
                    <a href="https://rxf.suning.com/epps-cpf/accountMgt/assetOverview.do" rel="nofollow"
                       name="public0_none_wode_renxingfu">我的任性付</a>
                    <a href="//quan.suning.com/yhq.do" rel="nofollow" name="public0_none_wode_quan">我的优惠券</a>
                </div>
            </div>
            <!--我的易购 ]]-->
            <a href="//vip.suning.com/" name="public0_none_sn_huiyuan" rel="nofollow"
               class="ng-bar-node ng-bar-node-pr5" target="_blank"><span>苏宁会员</span></a>
            <a href="https://passport.suning.com/ids/trustLogin?sysCode=epp&amp;targetUrl=https://pay.suning.com/epp-epw/login/login.action"
               name="public0_none_yifubao_yfb" class="ng-bar-node ng-bar-node-pr5" target="_blank"><span>易付宝</span></a>
            <a href="//b.suning.com/" class="ng-bar-node ng-bar-node-pr5" name="public0_none_qiye_caigou"
               target="_blank"><span>企业采购</span></a>

            <!--手机苏宁 [[-->
            <div class="ng-bar-node-box app-down-box">
                <a href="//cuxiao.suning.com/newUser.html" target="_blank" name="public0_none_shouji_sn" rel="nofollow"
                   class="ng-bar-node mb-suning touch-href"><span>手机苏宁</span><em class="ng-iconfont down"></em></a>
                <div class="ng-mb-box ng-d-box mb-down-child" style="display: none;">
                    <ul class="ng-app-code">
                        <li>
                            <img class="top-code" alt="苏宁易购APP"
                                 src="//res.suning.cn/public/v3/images/sn-top-code.png?var=01">
                            <p>下载苏宁易购APP</p>
                            <img class="aoyun-text" alt="" src="//res.suning.cn/public/v3/images/aoyun-text.jpg?var=01">
                        </li>
                        <li>
                            <img class="top-code" alt="易付宝APP"
                                 src="//res.suning.cn/public/v3/images/yfb-top-code.png?var=01">
                            <p>扫一扫</p>
                            <p>下载苏宁金融APP</p>
                        </li>
                        <li>
                            <img class="top-code" alt="易购服务号" src="//res.suning.cn/public/v3/images/wxcode.jpg?var=01">
                            <p>扫一扫</p>
                            <p> 关注苏宁易购服务号</p>
                        </li>
                    </ul>
                    <div class="line"></div>
                    <div class="line lineTwo"></div>
                </div>
            </div>
            <!--手机苏宁 ]]-->
        </div>
        <div id="ng-minicart-slide-box"></div>
    </div>
</div>
<script>
    /*
     * 宽窄屏切换
     * */
    var bodyTag = document.getElementsByTagName("body")[0],
        bodyClassName = bodyTag.getAttribute("className") || bodyTag.getAttribute("class");
    bodyClassName = bodyClassName ? bodyClassName + " " : "";
    if (screen.width >= 1200) {
        bodyTag.className = bodyClassName + "root1200";
    } else {
        bodyTag.className = bodyClassName + "root990";
    }

</script>
<div class="fin-header clearfix">
    <div class="fin-header-top clearfix">
        <div class="fin-col-logo">
            <a class="col-logo" href="//zc.suning.com" name="jr_none_logo_01">
                <img width="121" height="48" style="margin: -12px 0"
                     src="/static/logo.png">
            </a>
        </div>
        <div class="fin-header-navigator">
            <div class="fin-nav-list nav-box">
                <ul>
                    <li><a href="/" name="zc_nav_home"><span class="fin-index-color">首页</span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-myfin j-fin-myfin-target">
            <a class="col-myfin-link j-fin-myfin-src" href="//zc.suning.com/myCF/showMyCF.htm" name="jr_none_myjr_myjr">
                <span class="col-myfin-img-box">
                    <img class="col-myfin-img" src="/static/title.jpg"
                         width="50" height="50" alt=""></span><span class="col-myfin-link-text fin-my-color">我的众筹</span></a>
        </div>
    </div>
</div>
<style>
    .fin-nav-list a {
        color: #222;
    }

    .fin-nav-list a:hover {
        color: #f70;
    }
</style>

<div class="nav-second" style="display: none;">
    <div class="nav-box">
        <ul>
            <li><a href="/index.htm" name="zc_nav_home">众筹首页</a></li>
            <li>
                <a class="on" href="/project/browseList.htm" name="zc_nav_ALL_99">项目总览 <i class="triangle-down"></i></a>
                <i class="arrow-bg"></i>
                <i class="arrow"></i>
                <ul class="sub-nav">
                    <li><a name="zc_nav_ALL_01" href="/project/browseList.htm?c=01&t=&s=">科技</a></li>
                    <li><a name="zc_nav_ALL_02" href="/project/browseList.htm?c=02&t=&s=">设计</a></li>
                    <li><a name="zc_nav_ALL_03" href="/project/browseList.htm?c=05&t=&s=">文化</a></li>
                    <li><a name="zc_nav_ALL_04" href="/project/browseList.htm?c=04&t=&s=">农业</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">发现 <i class="triangle-down"></i></a>
                <i class="arrow-bg"></i>
                <i class="arrow"></i>
                <ul class="sub-nav">
                    <li><a name="zc_nav_find_01" href="/project/browseList.htm?c=&t=04">精品返售</a></li>
                    <li><a name="zc_nav_find_02" href="/project/brandList.htm">品牌筹</a></li>
                </ul>
            </li>
            <li><a href="/myCF/showMyCF.htm" name="zc_nav_myCFS">我的众筹 </a></li>
            <li class="nav-right">
                <a href="javascript:;">发起项目<i class="triangle-down"></i></a>
                <i class="arrow-bg"></i>
                <i class="arrow"></i>
                <ul class="sub-nav">
                    <li><a name="zc_nav_creatPrj" href="/project/protocol.htm">发起产品众筹</a></li>
                    <li><a name="zc_nav_creatPPC" href="/brand/brandProtocol.htm">发起品牌筹</a></li>
                </ul>
            </li>
            <li class="nav-right"><a href="/fw/index.htm" name="zc_nav_ZCFV">众创服务<i class="new-flag"></i></a></li>
        </ul>
    </div>
</div>

<div class="wrap">

    <!-- 查询条件 new [[ -->
    <div class="item-query-wrap">
        <div class="classified-wrap J_Catalog">

            <div class="search-wrap">
                <form id="browseForm" action="/search" method="post">
                    <!-- keyword属性和button属性值要求一一对应 -->
                    <input id="searcher" type="text" name="query" keyword="zc_search" class="mod-input" value="请输入关键字" onblur="if(this.value=='') {this.value='请输入关键字';this.style.color='#ccc';}"
                           onfocus="if(this.value=='请输入关键字') {this.value='';this.style.color='#333';}">
                    <button type="submit" class="mod-btn" button="zc_search" id="search">
                        <i class="icon_search"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="query-section-2 clearfix">

            <div class="query-section-total">
                共&nbsp;<span th:text="${pageResult.totalCount}"></span>&nbsp;个众筹项目
            </div>
        </div>
    </div>
    <!-- 查询条件 new ]] -->


    <div class="item-list">
        <ul>
            <li th:each="item:${pageResult.data}">
                <div class="item-placeholder">
                    <a th:href="'/itemDetail/find?itemId='+${item.id}" name="zc_browseList_proj_0101">
                        <img th:src="'http://localhost/static/'+${item.image}" th:alt="${item.name}" class="item-show">
                    </a>


                </div>

                <div class="item-info">
                    <p class="item-name">
                        <a th:href="'/itemDetail/find?itemId='+${item.id}" th:utext="${item.shortTitle}" name="zc_browseList_proj_0102">
                        </a>
                    </p>

                    <div class="item-num">
							<span class="fr">
								<b th:text="'剩余'+${item.financingDays}+'天'">
								</b>
							</span>
                        <span class="ml30"><em>支持：</em><b th:text="${item.contributeNum}"></b></span>
                    </div>
                    <div class="item-process">
                        <div class="process-bar" th:style="'width:'+${item.currentMoney/item.raiseMoney}*100+'%'">
                        </div>
                    </div>
                    <div class="item-status">
                        众筹中
                    </div>
                    <div class="clear"></div>
                    <div class="item-num">
                        <span class="fr item-finish"><em>达成</em> <strong th:text="${item.currentMoney/item.raiseMoney}*100+'%'"></strong></span>
                        <span><em>已筹集</em> <strong th:text="'&yen'+${item.currentMoney}"></strong></span>
                    </div>
                </div>
            </li>

            <div class="clear"></div>
        </ul>

        <!--分页-->
        <div class="page-wp clearfix">
            <div class="sn-page">

                <a th:if="${pageResult.currentPage-1} gt 0"
                   th:href="'/search/page?query='+${pageResult.query}+'&amp;currentPage='+${pageResult.currentPage-1}"
                   name="zc_browseList_next_01" class="next">上一页</a>

                <a th:if="${pageResult.currentPage}-1 gt 0" th:text="${pageResult.currentPage-1}"
                   th:href="'/search/page?query='+${pageResult.query}+'&amp;currentPage='+${pageResult.currentPage-1}"
                   name="zc_browseList_pagenum_01"></a>

                <a th:text="${pageResult.currentPage}"
                   href="javascript:void(0)" name="zc_browseList_pagenum_01" class="current"></a>

                <a th:if="${pageResult.currentPage+2} le ${pageResult.totalPage}" th:text="${pageResult.currentPage+2}"
                   th:href="'/search/page?query='+${pageResult.query}+'&amp;currentPage='+${pageResult.currentPage+2}"
                   name="zc_browseList_pagenum_01"></a>

                <a th:if="${pageResult.currentPage+3} le ${pageResult.totalPage}" th:text="${pageResult.currentPage+3}"
                   th:href="'/search/page?query='+${pageResult.query}+'&amp;currentPage='+${pageResult.currentPage+3}"
                   name="zc_browseList_pagenum_01"></a>

                <span class="ellipsis">...</span>
                <a th:href="'/search/page?query='+${pageResult.query}+'&amp;currentPage='+${pageResult.totalPage}"
                   th:text="${pageResult.totalPage}" name="zc_browseList_pagenum_01"></a>

                <a th:if="${pageResult.currentPage+1} le ${pageResult.totalPage}"
                   th:href="'/search/page?query='+${pageResult.query}+'&amp;currentPage='+${pageResult.currentPage+1}"
                   name="zc_browseList_next_01" class="next">下一页</a>


                <!--跳转页-->
                <!--
                <span class="goto">向第
				<input class="page-num" type="text" value="1">
				页
				<input class="page-goto" type="button" name="zc_browseList_jump_01"
                       data-url="/project/browseList.htm?c=&t=&s=&keyWords=&pageNumber=" value="跳转">
			    </span>
			    -->
            </div>
        </div>
    </div>
</div>


<div class="clear"></div>
<div class="ng-footer">


    <!--top fix bar [[-->
    <div class="ng-fix-bar"></div>
    <!--top fix bar ]]-->
</div>
<!--important-->
<script data-main="//zc.suning.com/webstatic/scripts/front/listMain.js?v=1545310876605" src="//zc.suning.com/webstatic/scripts/lib/require/require.min.js?v=1545310876605"></script>

</body>
</html>